<!DOCTYPE html>
<html lang="en" dir="ltr">
<style>
    .frame1{
      position: absolute;
      width: 1920px;
      height: 1080px;
      left: 0px;
      top: 0px;
    }
    .rectangle{
      position: absolute;
      width: 1920px;
      height: 1080px;
      left: 0px;
      top: 0px;
      background: linear-gradient(180deg, #C7B9B9 0%, #017672 100%);
      border-radius: 0px;
    }
</style>

  <head>
    <title>boyan</title>
  </head>
  <body>
    <dev class="frame1">
      <dev class="rectangle">
        <h3>login</h3>
        <form method="POST">
          {%csrf_token%}
          {{form.as_p}}
        <input type = "submit"value="確定"/>
        </form>
      </dev>
    </frame>
  </body>
</html>